name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  analyze-test:
    name: Analyze & Test (macOS)
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      - name: Flutter Analyze
        run: flutter analyze

      - name: Run Tests
        run: flutter test --coverage

      - name: Upload Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/

  build-android:
    name: Build Android (APK + AAB)
    runs-on: macos-latest
    needs: analyze-test

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      - name: Build Android APK
        run: flutter build apk --release

      - name: Build Android AppBundle (AAB)
        run: flutter build appbundle --release

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: |
            build/app/outputs/**/*.apk
            build/app/outputs/**/*.aab

  build-ios:
    name: Build iOS (IPA)
    runs-on: macos-latest
    needs: analyze-test

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS IPA
#        run: flutter build ipa --release --export-method ad-hoc
        run: flutter build ipa --release --export-method development

      - name: Upload iOS IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios
          path: build/ios/ipa/
